mixin navbarItem(text, href="#", active=false)
    li.navbar__item
        a(href=`${href}`, class=`navbar__link navbar__link--colored navbar__link--animated ${active ? 'navbar__link--active':''}`)= text

div.navbar.container
    div.navbar__logo-box
        a(href="/" class=`navbar__link navbar__link--logo ${colored ? 'navbar__link--colored':''}`) Lizzie

    ul.navbar__nav
        +navbarItem("Home", "/", true)
        +navbarItem("About")
        +navbarItem("Blog", "/blog", true)
    
    .navbar__accounts
        - if(!user)
            a.navbar__link.navbar__link--colored.navbar__link--cta(href="/login") Login
            a.navbar__link.navbar__link--colored.navbar__link--cta.sign-up(href="#") Sign up
        - else
            a.navbar__link.navbar__link--colored.navbar__link--cta#navbar__logout(href="#") Log out
            a.navbar__link.navbar__link--colored.navbar__link--cta.profile(href="/me")
                .profile__image
                    - if(!user.profilePhoto)
                        img(src=`/img/users/default.jpg`, alt="No image")
                    - else
                        img(src=`/img/users/${user.profilePhoto}`, alt="#{user.firstName}")
                span= user.firstName