mixin navbarItem(text, href="#", active=false)
    li.navbar__item
        a(href=`${href}`, class=`navbar__link navbar__link--colored navbar__link--animated ${active ? 'navbar__link--active':''}`)= text

mixin navbarMenuItem(text, href="#", active=false)
    li
        a(href=`${href}`, class=`navbar__link navbar__link--colored ${active ? 'navbar__link--active':''}` id=`${text=='Log out' ? 'navbar-menu__logout':''}`)= text

div.navbar.container.u-padding-mobile
    div.navbar__logo-box
        a(href="/" class=`navbar__link navbar__link--logo ${colored ? 'navbar__link--colored':''}`) Lizzie

    ul.navbar__nav
        +navbarItem("Home", "/", true)
        +navbarItem("About")
        +navbarItem("Blog", "/blog", true)

    ul.navbar__toggler
        span.bar
        span.bar
        span.bar
    
    ul.navbar__menu
        +navbarMenuItem("Home", "/", true)
        +navbarMenuItem("About")
        +navbarMenuItem("Blog", "/blog", true)
        br
        hr
        br
        - if(!user)
            +navbarMenuItem("Login", "/login", true)
            +navbarMenuItem("Sign up", "/sign-up", true)
        - else
            +navbarMenuItem("Log out", "#", true)
            +navbarMenuItem("Profile", "/me", true)
    
    .navbar__accounts
        - if(!user)
            a.navbar__link.navbar__link--colored.navbar__link--cta(href="/login") Login
            a.navbar__link.navbar__link--colored.navbar__link--cta.sign-up(href="/sign-up") Sign up
        - else
            a.navbar__link.navbar__link--colored.navbar__link--cta#navbar__logout(href="#") 
                svg
                    use(xlink:href=`/img/icons.svg#icon-log-out`)
                | Log out
            a.navbar__link.navbar__link--colored.navbar__link--cta.profile(href="/me")
                .profile__image
                    - if(!user.profilePhoto)
                        img(src=`/img/users/default.jpg`, alt="No image")
                    - else
                        img(src=`/img/users/${user.profilePhoto}`, alt="#{user.firstName}")
                span= user.firstName