extends base

block content
    section.banner
        include _nav
        .container.u-d-flex
            .banner__image
                img(src="/img/blog-post/1.png", alt="banner image")
            .banner__text.u-d-flex.u-d-flex-align-ct
                .banner__text-content
                    h1.heading.u-mb-small
                        | Need information? I just might have the thing for you
                    p.heading-description--primary
                        | Just enough information for everyone to come and be satisfied

    section.blog-posts
        .container
            h2.heading.heading-primary.heading--gradient Here are some posts
            .grid.grid--blog-posts.u-mb-medium
                each post in posts
                    a.blog-posts__card(href=`/blog/${post.slug}`)
                        .card__image
                            img(src=`/img/blog-post/${post.photo}`)
                        .card__content
                            .card__meta 
                                each tag, i in post.tags
                                    span.category #{tag}
                                    if i != post.tags.length - 1
                                        | , 
                                - let date = post.createdDate.toLocaleDateString('en-US', {year: 'numeric',month: 'long',day: 'numeric'})
                                span.date &mdash; #{date}
                            .card__text
                                h2.heading.heading--card= post.title
                                p= post.description
                            .card__author
                                .author__image
                                    - if(post.author.profilePhoto)
                                        img(src=`/img/users/${post.author.profilePhoto}`)
                                    - else
                                        img(src="/img/users/default.jpg")
                                .author__name
                                    strong= `${post.author.lastName} ${post.author.firstName}`
                                    - if(post.author.role == "blog-owner")
                                        span CEO and founder
                                    - else
                                        span Writer
            if(totalPages > 1)
                ul.pagination
                    - for(let i=1; i <= totalPages; i++)
                        li(class=`pagination__page ${currentPage == i ? 'pagination__page--active' : ''}`)
                            a(href=`/blog?page=${i}`)= i


